<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="build/ableplayer.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css">
    <title>The Audio and Video podcast</title>
    <h1 class="hidden">The Video player</h1>
</head>
<body>
    <main>
        <header>
            <div class="head">
                <div class="logo">
                    <h2>PodProdigy</h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="/audio">Audios</a></li>
                        <li><a href="/">Videos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="content">
           <div class="eplist">
                <div class="heading">
                    <h2>Podcast Episodes</h2>
                </div>
                <div class="episode">
                    <h3>Episode 1</h3>
                </div>
                <div class="episode">
                    <h3>Episode 2</h3>
                </div>
                <div class="episode">
                    <h3>Episode 3</h3>
                </div>
                <div class="episode">
                    <h3>Episode 4</h3>
                </div>
            </div>
            <div class="container">
                <h2 class="title">Secrets of Awesome Life: Productivity</h2>
                <h3 class="parameters">
                    Author: Dan Shipper<br>
                    Published: July 8, 2022<br>
                    Length: 6:48
                </h3>
                <p class="summary">
                    Ever wished you could stop procrastinating and just be as efficient as a machine? Since you're a human, that's not going to happen -- but that's OK, says entrepreneur Dan Shipper. Here's how you can use awareness, observation and experimentation to clear your own way to getting more done.
                </p>
                <audio id="audio1" data-able-player preload="auto">
                    <source type="audio/mpeg" src="images/productivity.mp3"/>
                    <track kind="captions" src="productivity.vtt"/>
                  </audio>
                <div class="transcript">
                    <p>
                        I've always secretly wanted to be a machine. I felt like if I was a machine I'd never let things fall through the cracks. I wouldn't forget things and I do everything I needed to do on time. Every time I knew there were people out there that were like this and I want to know what makes them tick.<br><br>
                    
                        So a few years ago, I started a newsletter called Super Organizers where I profiled 50 of the top performers in a variety of fields. I've talked to managers who track everything they do in a day in 15 minute increments, I've talked to investors who keep spreadsheets of every single person they've ever met, I've talked to CEOs, who keep their calendars basically empty and rarely ever do meetings like ever.<br><br>
                        
                        I've also experimented with a lot of hacks myself to try to get me closer to my ideal. I've taped my mouth shut while I'm sleeping and stared at the sunlamp to increase my energy levels. I visualized my compassionate self and tried all sorts of supplements to hack my body chemistry. Sometimes the things I try work and sometimes they don't, sometimes they're just kind of ridiculous, but I want to share with you the best trick I've learned in all of my exploring, the idea of being a machine is actually a trap.<br><br>
                        
                        It gets in the way of our productivity because it makes us blind to the roots of our actual problem. We are not machines, we're emotional beings. And learning to skillfully recognize and work with our emotions is the only way to actually be productive day-to-day. Guilt, shame, fear, so often they're at the base of what's going on for us in ways that we barely understand. What's underneath our productivity problems isn't just a need for a new tool or system, but something going on in our emotional lives.<br><br>
                        
                        And being aware of and observing how our emotions can affect us can open you a lot of flexibility and freedom to make progress when we'd otherwise be stuck, I found that the most productive people in the world, you know, the ones who are most machine, like, actually recognize this and they often do three things to work with it. They're aware when they have a problem, they observe what's going on without judgement. So they can understand it and they keep experimenting with systems or teams, mindsets and tools until it changes. This might seem simple and it is, but it's actually very hard to do.<br><br>
                        
                        Because at each stage we get blocked in twisted up by the shame and fear and doubt, the things that get in the way of seeing things clearly. To do this well, requires a level of emotional Mastery that is very difficult to practice. So let me walk you through it and show you how it can work, Awareness is the first step. That means being aware of problems in your productivity, but that's harder than it seems. No matter what the issue is, it's much easier to ignore it and hope that it goes away than to admit that something is wrong. We feel like we should be able to just do better. We feel like, well, that's the job, I should just suck it up.<br><br>
                        
                        Whatever the problems that you're encountering in your productivity, you might not think about them that often because it's pretty painful, but there's magic in becoming aware of the problems that we're ordinarily not aware of. The most productive people have regular practices that they use to maintain that awareness. Sometimes it's journaling, sometimes it mindfulness, sometimes it's just a walk, sometimes it's therapy. But everyone has something.<br><br>
                        
                        Here's an example from my own life. I have a ton of trouble staying on top of my inbox. I'm the CEO of a startup and so this was really hard for me to admit at first. It seemed like an indictment of me and my ability to be successful if my inbox was a mess. But last year after a lot of reflection, I realized that I had to face the fact that the backlog was causing problems throughout my company.<br><br>
                        
                        Once I was aware of the problem, I can start the next step: observation. When I moved into the observation stage, I wanted to see with as little judgment as possible what usually leads to my inbox being crowded? Observing with that judgment was really difficult for me. My sense of doubt and fear came up. I thought: Should I really need to do this? I really felt like I should just be able to get to my inbox without any problems but once I got beneath that I began to notice something really surprising. There were actually many periods where I was on top of my inbox.<br><br>
                        
                        It's just that every couple of weeks there would be a shift where it would just turn into a giant mess. And it had a very specific trigger, either a single email that I really didn't want to deal with or a really busy period in my life where I couldn't look at my inbox for a day or two. And when this happened, emails will start to pile up and I'd start to feel shame. I'd avoid my inbox and the pile would just get way worse. It was a vicious cycle.<br><br>
                        
                        Once I saw this, I realized there was a logical place to intervene, What I really needed to do was to catch myself right at the point every couple of weeks where my clean inbox was turning into a mess. And if I could do that, I knew I could keep it clean the rest of the time. This brings us to the next step: experimentation. Once productive people have recognized the problem and observed its contours without judgment. they try new solutions to find out what works. Again, this can be really easy to get twisted up about. We're all filled with preconceptions about what's in and out of bounds to experiment with, and we're really boxed in by those preconceptions. We don't wanna look silly. We don't wanna look weak.<br><br>
                        
                        But if we allow ourselves to find what works for us, we often find things that no one else would. For me, I tried a lot of different experiments to deal with my inbox problems. I tried going to a new coffee shop every time I needed to power through some emails. So I tried talking about it with my business partner and other people at my company to try to lower my sense of Shame about it. I tried a OneTouch email strategy. I tried only checking my e-mail twice a day but none of these really solved the problem completely. So I kept going and I had a big insight, I figured out that I might be able to use my own desire not to let people down to help me get through my inbox. I'm lucky enough to split a virtual assistant with my business partner.<br><br>
                        
                        So I wondered, what if I put an hour, on my calendar, a few times a week where they would babysit me at the beginning of the hour, they'd message me and ask me how many emails I had in my inbox and at the end of the hour, they'd message me again to ask how many I'd gotten done. I used my virtual assistant but you can use anyone in your life, a family member or friend who struggles with something similar and propose a trade. It literally takes a couple of seconds to message back and forth.<br><br>
                        
                        When I started to consider this, my immediate reaction was shame. I felt like I should not need a babysitter to do my work and I dreaded the conversation where I had to ask for this kind of thing. I also dreaded admitting it to anyone else. It all seemed very, very silly but I decided to try it anyway and it turns out just that little interaction a few times a week, makes a gigantic difference for me.<br><br>
                        
                        Getting a message from my assistant keeps me on task on my email and prevents the piles from being created which makes it really easy for me to keep my inbox clean at every other time. And now I'm sitting here almost a year later with a clean inbox on a consistent basis. This may not work for you but it does work for me. You might find that other approaches are better, like transferring your emails to your to-do list or making sure you're following a OneTouch inbox strategy or maybe even examining why you need to get through your inbox in the first place but the only way to find out is to try it.<br><br>
                        
                        What I've realized in all of my exploring is that I actually didn't really ever want to be a machine. I just felt guilty and ashamed for not being one. And once I started to work with that, everything changed for me, We think productivity is about software and notebooks and to-do lists frameworks and calendars, and schedules and inboxes, and it is all of those things.<br><br>
                        
                        But it's also about our brains and our bodies. It is about our emotions and how they guide us. And sometimes get in our way. If you turn over the rock of productivity, you can find a lot hiding underneath. Identifying what's there is the best productivity hack I know.<br><br>
                        </p>
                    
                </div>
            </div> 
        </section>
        
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="build/ableplayer.min.js"></script>
</body>
</html>